.app {
}

.app-header {
  background-color: #282653;
  height: 50px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.app-body {
  display: flex;
  align-items: flex-start;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 350px;
  padding: 50px;
}

.clock {
  font-family: helvetica, sans-serif;
  font-size: 6rem;
  margin-bottom: 5%
}

.timer-button {
  background-color: #7F56C5;
  border: none;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 2px;
  cursor: pointer;
}

.alert {
  color: #FFFFFF;
  padding: 15px 32px;
  border-radius: 2px;
  margin-top: 25px;
  background-color: #960018;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.todo-list {
  padding: 50px;
}

.todo-header {
  height: 32px;
  background-color: #CACBCE;
  min-width: 500px;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-header span {
  padding-left: 14px;
  font-size: 1.2rem;
  font-weight: 500;
}

.todo-header div {
  padding-right: 14px;
}

.add-todo-button {
  background-color: #7F56C5;
  border: none;
  color: #FFFFFF;
  padding: 2px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .75rem;
  border-radius: 2px;
  margin-left: 5px;
  cursor: pointer;
}

.list-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: 500px;
  max-width: 700px;
}

.list-item {
  display: flex;
  justify-content:  space-between;
  min-height: 31px;
  align-items: center;
  padding: 4px 14px;
  background-color: #F0F0F0;
}

.list-item-button {
  background-color: #7F56C5;
  border: none;
  color: #FFFFFF;
  padding: 2px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .75rem;
  border-radius: 2px;
  margin-left: 5px;
  cursor: pointer;
}

.list-item:nth-child(odd) {
  background: #F7F7F7;
}
